@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #3f3f3e;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--text);
  font-weight: 500;
}
